{% extends '../base.html' %}
{% block title %}Wedding Promo{% endblock %}
{% load staticfiles %} 
{% block header %}

<div id="image-header" class="bar dark parallax-background menu-header">
        <div class="container">
            <div class="header-content">
                <h1 class="sub-menu-title">Wedding Promo 2018</h1>
    
            </div><!-- header-content -->
        </div><!-- / container -->
    </div>
{% endblock %}

{% block frontend_content %}

<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img src="{% static './b_ridge/images/custom/promo.jpg' %}" alt="" class="image-responsive">
                   
      </div><!-- / panel -->  
    
    </div>
    </div><!-- / col-sm-12 -->
         
    </section>
    
    
    
{% endblock %}