packages:
  yum:
    gcc: []
    gcc-c++: []
    libxslt-devel: []
    kernel-devel: []
    openssl-devel: []
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []
    python27-devel: []
    libffi-devel: []
    ImageMagick: []
    ImageMagick-devel: []

commands:
  01-install:
      command: "wget http://ffmpeg.gusari.org/static/64bit/ffmpeg.static.64bit.latest.tar.gz -O - | tar zxf - -C /usr/bin"